#cabecera {
  background: #F44336;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#cabecera ul {
  list-style: none;
}

#cabecera ul li {
  font: normal 16px/1.5 "Open Sans", sans-serif;
  padding: 15px;
  display: inline-block;
}

#cabecera ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #eee;
}

#cabecera ul li .active {
  color: white;
}

h1.title {
  font: normal 16px/1.5 "Open Sans", sans-serif;
  font-size: 200%;
  font-weight: bold;
  color: #707070;
  border-bottom: 2px solid #F44336;
}

h2 {
  font: normal 16px/1.5 "Open Sans", sans-serif;
  font-size: 160%;
  color: #F44336;
}

div.container {
  color: #F44336;
  background: #fff;
  width: 100%;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}